
.changepoint-details {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    text-align: center;

    &.natural{
        color: black;
    }

    &.positive{
        color: rgb(27, 102, 37);
    }
    
    &.negative{
        color: rgb(132, 28, 28);
    }

    .indicator{
        margin: auto 7px;
        font-size: 16pt;
    }

    .changepoints .changepoint {
        font-size: 16pt;
    }

    .changepoints .changepercent {
        font-size: 12pt;
    }
}