.Menu {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    color: white;
}

.Menu-item {
    margin: 5px;

    a {   
        color: white;
        text-decoration: none;
    }
}