.stockPage {
    header {
        padding: 10px;
        text-align: left;
        border: 1px solid lightblue;

        .back-to-dashboard {
            color: lightgray;
            text-decoration: none;
            transition: 0.1s;
            padding: 5px;
            vertical-align: middle;
            border-radius: 3px;

            &:hover{
                background-color: lightgray;
                color: gray;
            }
        }

        .company-name {
            margin-bottom: 5px;
        }

        .sub-header {
            margin-bottom: 5px;
            color: gray;
        }
    }


    .content {
        display: flex;

        .left-sidebar {
            padding: 10px;
            border: 1px solid lightblue;

            .sidebar-header {

                .price {
                    font-size: 24pt;
                }

                .changepont-container {
                    margin: auto;
                    width: fit-content;
                }
            }

            .additional-data table {
                margin: 20px;
                width: max-content;
                border: 1px solid lightblue;
                border-spacing: 0;

                tr {
                    &:nth-child(odd) {
                        background-color: lightgray;
                    }

                    td {
                        padding: 5px;
                    }

                    .property-name {
                        text-align: right;
                    }
                }
            }

        }

        .chart-container {
            width: 100%;
            min-width: 800px;
            border: 1px solid lightblue;

            .chart {
                margin: auto;
                width: 80%;
                min-height: 330px;
            }
        }

    }
}